<!-- Footer -->
<section class="hero is-medium is-warning is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <a href="/" class="is-size-4 social-link">
                                .
                            </a>
                        </div>
                        <div class="column">
                            <a href="/" class="is-size-4 social-link">
                                .
                            </a>
                        </div>
                    </div>
                    <p class="has-text-green a-menu is-size-7">
                        pd © 2020. All Rights Reserved.
                    </p>
                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</section>